@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #295ba5;
    width: 100vw;
    height: 98vh;
    

}
nav{
    background-color: white;
    padding: 50px;
}
nav a{
    margin: auto;
}

main{
    box-shadow: 3px 10px 21px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 38px;
    background-color: white;
    margin: auto;
    width: 500px;

    flex: auto;
}
.checklist{
    width: 600px;
    height: 1080px;
}
img{
    margin-bottom: 50px;
    margin-left: 50px;
}
form{
    margin-left: 50px;
}
input {
    padding: 10px; /* Aumenta o espaço interno */
    width: 300px;  /* Largura do campo */
    border-radius: 5px;
}
.titulo{
    font-size: 1.5em;
    padding: 10px 10px 10px 0px;
}
.sub-titulo{
    font-size: 1.2em;
    padding-top: 5px
}
.enviar:hover {
    background-color: rgb(5, 172, 5);
}
.botoes-finais{
    padding-top: 30px;
}