@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #295ba5;
    width: 100vw;
    height: 98vh;
}
nav{
    background-color: white;
    padding: 20px;
    text-align: center;
}
nav a{
    padding-left: 30px;
    display: inline;
}
h1{
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

main{
    border-radius: 0px 0px 20px 20px;
    padding: 38px;
    background-color: white;
    margin: auto;
    width: 500px;

    flex: auto;
}
.checklist{
    width: 600px;
    height: 1080px;
}
img{
    margin-bottom: 50px;
    margin-left: 50px;
}
form{
    margin-left: 50px;
}
input {
    padding: 10px; /* Aumenta o espaço interno */
    width: 300px;  /* Largura do campo */
    border-radius: 5px;
    text-align: center;
    background-color: rgba(168, 166, 166, 0.253);
}
.titulo{
    font-size: 1.5em;
    padding: 10px 10px 10px 0px;
}
.sub-titulo{
    font-size: 1.2em;
    padding-top: 5px
}
.enviar:hover {
    background-color: rgb(5, 172, 5);
}
.botoes-finais{
    padding-top: 30px;
}