@charset "UTF-8";

:root{
    
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*
Paleta de cores
Primarias
#295ba5
#dadf3f
*/
*{
    font-family: "Rubik", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    background-color: #295ba5;
    height: 98vh;
    width: 98vw;
    margin: auto;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
form > div.campo{
    flex: auto;
}